/ http://doc.x3dom.org/tutorials/basics/imagesMovies/index.html
%x3d{width: '500px', height: '400px'}
  %scene
    %shape
      %appearance
        %ImageTexture{url: 'assets/pattern.png'}
      %box
